.aboutMe {
    min-height: 100vh;
    // background-color: black;
    width: 1040px;
    margin: 0 auto;
    padding-top: 120px;
    display: grid;
    gap: 0 30px;
    grid-template-areas: 
    "w p o o"
    "w p e g"
    "w p b .";
    
    .white {
        // background-color: #fff;
        grid-area: w;
        margin-right: 20px;
        img{
            height: 100vh;
        }
        
    }
    .orange {
        // background-color: orange;
        grid-area: o;
        position: relative;
        @include circle_me_title;
        .text_long {
            font-size: 14px;
        }
        
    }
    .red {
        // background-color: red;
        grid-area: e;
        padding-left: 50px;
        
 
    }
    .green {
        // background-color: green;
        grid-area: g;
        padding-left: 60px;
        
        
        
    }
    .blue {
        // background-color: blue;
        grid-area: b;
        padding-left: 50px;
    }
    .subtitle {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 6px;

    }
    .text {
        font-size: 12px;    
    }
    .boxes {
        position: relative;
        z-index: 2;
        @include circle_about_me;
        .web {
            position: absolute;
            top: 15px;
            left: 15px;
        }
        
    }
    .title_fz16 {
        margin-left: 10px;
        font-weight: bold;
    }

}