.progressbar {
    padding-top: 120px;
    display: grid;
    grid-template: repeat(2, minmax(70px, auto))/repeat(3, minmax(350px, auto));
    gap: 30px 45px;
    &__skills {
        position: relative;
        &-item {
            margin-top: 27px;
            position: relative;
            background-color: #E8E4DE;
            height: 14px;
            width: 100%;
            border-radius: 4px;
            div {
                background-color: $main-color;
                height: 14px;
                // width: 50%;
                border-radius: 4px; 
                position: absolute;
                left: 0;
                
            }    
        }
        &-percent {
            position: absolute;
            top: 0;
            right: 0;
        }
        &-title {
            position: relative;
            @include before_circle;
            &:before {
                left: -4%;
            }
            
        }
    }
}


